In [1]:
# Checking the current working directory
import os
os.getcwd()

'/Users/Bharath/Data Science/Projects/My Projects/Recommender System'

# Importing the data

In [2]:
# Importing basic packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing the dataset

movies = pd.read_csv("movies_metadata.csv")
keywords = pd.read_csv("keywords.csv")
credits = pd.read_csv("credits.csv")

In [4]:
#Displaying the first 5 entries of the movies dataframe

movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
#Displaying the first 5 entries of the keywords dataframe

keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [6]:
#Displaying the first 5 entries of the credits dataframe

credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

## Data Understanding & Manipulation

In [7]:
# Displaying the shape of all the dataframes

print(movies.shape)
print(keywords.shape)
print(credits.shape)

(45466, 24)
(46419, 2)
(45476, 3)

In [8]:
# Displaying the column names of all the dataframes

print(movies.columns)
print(keywords.columns)
print(credits.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
Index(['id', 'keywords'], dtype='object')
Index(['cast', 'crew', 'id'], dtype='object')

In [9]:
# Displaying the number of unique values in each dataframe.

print(movies['id'].nunique())
print(keywords['id'].nunique())
print(credits['id'].nunique())

45436
45432
45432

In [10]:
# checking for the percentage of null values in movies df

print(movies.isnull().sum()/len(movies)*100)

adult                     0.000000
belongs_to_collection    90.115691
budget                    0.000000
genres                    0.000000
homepage                 82.883913
id                        0.000000
imdb_id                   0.037391
original_language         0.024194
original_title            0.000000
overview                  2.098271
popularity                0.010997
poster_path               0.848986
production_companies      0.006598
production_countries      0.006598
release_date              0.191352
revenue                   0.013197
runtime                   0.578454
spoken_languages          0.013197
status                    0.191352
tagline                  55.104914
title                     0.013197
video                     0.013197
vote_average              0.013197
vote_count                0.013197
dtype: float64

In [11]:
# checking for the percentage of null values in keywords df

print(keywords.isnull().sum()/len(keywords)*100)

id          0.0
keywords    0.0
dtype: float64

In [12]:
# checking for the percentage of null values in credits df

print(credits.isnull().sum()/len(credits)*100)

cast    0.0
crew    0.0
id      0.0
dtype: float64

In [13]:
# checking for duplicates in the 'id' column of movies df

movies[movies['id'].duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
9165,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,1967-10-25,39481.0,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
12066,False,NaN,1600000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.bubblethefilm.com/,14788,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,...,2005-09-03,0.0,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bubble,False,6.4,36.0
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
15074,False,NaN,4,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,22649,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,...,1932-12-08,25.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0
15765,False,NaN,2500,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,13209,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",...,2006-05-26,0.0,93.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Offside,False,6.7,27.0
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
20843,False,NaN,40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,77221,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",...,2011-12-21,5446000.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0
20899,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,109962,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,...,1981-09-23,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0
21116,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,84198,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",...,2012-03-22,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
21165,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21854,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
22151,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
23044,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
23534,False,NaN,3512454,"[{'id': 18, 'name': 'Drama'}]",NaN,110428,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",...,2013-03-13,115860.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0
24844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
26625,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,69234,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,...,1990-03-18,0.0,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Phantom of the Opera,False,5.0,3.0
28860,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
29374,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,1971-02-04,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0
30001,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,132641,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",...,1953-04-29,0.0,89.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Wife,False,0.0,0.0
33743,False,NaN,26000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,15028,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",...,2002-03-17,38793283.0,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,90.0
33826,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,4912,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",...,2002-12-30,33013805.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0
35798,False,"{'id': 158365, 'name': 'Why We Fight', 'poster...",0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",...,1943-01-01,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
38871,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
40040,False,NaN,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",...,2015-09-02,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0
40276,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
44826,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,12600,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",...,2001-07-06,28023563.0,75.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0

In [14]:
# dropping the duplicates from movies df

movies.drop_duplicates(inplace=True)

In [15]:
# shape of movies df after removing duplicates
movies.shape

(45453, 24)

In [16]:
# checking duplicates with respect to 'id' column in movies df

movies[movies['id'].duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
12066,False,NaN,1600000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.bubblethefilm.com/,14788,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,...,2005-09-03,0.0,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bubble,False,6.4,36.0
15074,False,NaN,4,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,22649,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,...,1932-12-08,25.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0
15765,False,NaN,2500,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,13209,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",...,2006-05-26,0.0,93.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Offside,False,6.7,27.0
20843,False,NaN,40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,77221,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",...,2011-12-21,5446000.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Gold,False,5.9,77.0
20899,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,109962,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,...,1981-09-23,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0
21116,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,84198,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",...,2012-03-22,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
23534,False,NaN,3512454,"[{'id': 18, 'name': 'Drama'}]",NaN,110428,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",...,2013-03-13,115860.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Camille Claudel 1915,False,7.0,20.0
26625,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,69234,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,...,1990-03-18,0.0,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Phantom of the Opera,False,5.0,3.0
30001,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,132641,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",...,1953-04-29,0.0,89.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Wife,False,0.0,0.0
33743,False,NaN,26000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,15028,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",...,2002-03-17,38793283.0,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,90.0
33826,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,4912,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",...,2002-12-30,33013805.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0
35798,False,"{'id': 158365, 'name': 'Why We Fight', 'poster...",0,"[{'id': 99, 'name': 'Documentary'}]",NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",...,1943-01-01,0.0,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
38871,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
40276,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Seven Years Bad Luck,False,5.6,4.0
44821,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
44826,False,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.pokemon.com/us/movies/movie-pokemon...,12600,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",...,2001-07-06,28023563.0,75.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
45265,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Force Majeure,False,6.8,255.0

In [17]:
# dropping the duplicates from movies df with respect to 'id' column

movies.drop_duplicates(subset = 'id',inplace=True)

In [18]:
movies.shape

(45436, 24)

In [19]:
movies[movies['id'].duplicated()]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [20]:
# checking duplicates with respect to 'id' column in keywords df

keywords[keywords['id'].duplicated()]

           id                                           keywords
1465   105045  [{'id': 7059, 'name': 'anti-communism'}, {'id'...
9165     5511  [{'id': 90, 'name': 'paris'}, {'id': 1010, 'na...
9327    23305                                                 []
12066   14788  [{'id': 9826, 'name': 'murder'}, {'id': 10183,...
13375  141971                                                 []
...       ...                                                ...
40994  298721  [{'id': 1227, 'name': 'cemetery'}, {'id': 1261...
41230   97995                                                 []
45774   10991  [{'id': 1262, 'name': 'mountain'}, {'id': 2802...
45779   12600  [{'id': 9663, 'name': 'sequel'}, {'id': 11451,...
46218  265189  [{'id': 293, 'name': 'female nudity'}, {'id': ...

[987 rows x 2 columns]

In [21]:
# dropping the duplicates from keywords df with respect to 'id' column

keywords.drop_duplicates(subset='id',inplace=True)

In [22]:
keywords.shape

(45432, 2)

In [23]:
# checking duplicates with respect to 'id' column in credits df

credits[credits['id'].duplicated()]

,cast,crew,id
1465,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...",105045
9165,"[{'cast_id': 11, 'character': 'Jef Costello', ...","[{'credit_id': '52fe440ac3a36847f807ee01', 'de...",5511
9327,"[{'cast_id': 1, 'character': 'Lafcadia - Warri...","[{'credit_id': '52fe4465c3a368484e02091d', 'de...",23305
12066,"[{'cast_id': 1000, 'character': 'Martha', 'cre...","[{'credit_id': '52fe46199251416c7506d0ff', 'de...",14788
13375,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
15074,"[{'cast_id': 1, 'character': 'Catherine Barkle...","[{'credit_id': '56d73d3e9251414291002436', 'de...",22649
15765,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '52fe454f9251416c75052209', 'de...",13209
16764,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971
20842,"[{'cast_id': 2, 'character': 'Sultan Amar', 'c...","[{'credit_id': '52fe4962c3a368484e1289fd', 'de...",77221
20898,"[{'cast_id': 1, 'character': 'Liz Hamilton', '...","[{'credit_id': '52fe4ac8c3a36847f81e1445', 'de...",109962
21115,"[{'cast_id': 3, 'character': 'Himself', 'credi...","[{'credit_id': '52fe48e09251416c9109b347', 'de...",84198
21164,[],"[{'credit_id': '52fe4c10c3a36847f821fbdd', 'de...",119916
21853,"[{'cast_id': 5, 'character': 'Robin Wright', '...","[{'credit_id': '55c0d60e9251410f19001cec', 'de...",152795
22150,"[{'cast_id': 1, 'character': 'Lin', 'credit_id...","[{'credit_id': '52fe477c9251416c7509b27d', 'de...",18440
23043,"[{'cast_id': 1001, 'character': 'Tykke', 'cred...","[{'credit_id': '52fe44cec3a368484e037efd', 'de...",25541
23533,"[{'cast_id': 3, 'character': 'Camille Claudel'...","[{'credit_id': '577ed5389251416976004432', 'de...",110428
24843,"[{'cast_id': 13, 'character': 'Tommy Vinson', ...","[{'credit_id': '52fe43fb9251416c75024ff5', 'de...",11115
25949,"[{'cast_id': 3, 'character': 'Sam Smith', 'cre...","[{'credit_id': '52fe4b9bc3a36847f820bba1', 'de...",116723
25950,"[{'cast_id': 12, 'character': 'The Creature', ...","[{'credit_id': '52fe4380c3a36847f80590dd', 'de...",3057
25953,"[{'cast_id': 1, 'character': 'Orry Main', 'cre...","[{'credit_id': '54ae8ef1c3a368070f000380', 'de...",125458
25954,"[{'cast_id': 7, 'character': 'Hollander', 'cre...","[{'credit_id': '52fe4da29251416c9111ce5d', 'de...",199591
25955,"[{'cast_id': 1, 'character': 'Johan Falk', 'cr...","[{'credit_id': '52fe447dc3a368484e026053', 'de...",24023
25956,"[{'cast_id': 1, 'character': 'Johan Falk', 'cr...","[{'credit_id': '52fe447dc3a368484e0260fd', 'de...",24026
25957,"[{'cast_id': 6, 'character': 'Mila', 'credit_i...","[{'credit_id': '52fe44809251416c75037035', 'de...",11752
25965,[],"[{'credit_id': '52fe4ae59251416c750f19b3', 'de...",142563
25966,[],"[{'credit_id': '52fe4bbe9251416c910e4533', 'de...",157301
25967,"[{'cast_id': 1, 'character': 'Churchill', 'cre...","[{'credit_id': '52fe4527c3a36847f80bf5e5', 'de...",9755
25968,"[{'cast_id': 6, 'character': 'Ray', 'credit_id...","[{'credit_id': '52fe4a99c3a368484e15cc3d', 'de...",123634
25969,"[{'cast_id': 11, 'character': 'Mike Gaucher / ...","[{'credit_id': '52fe44b8c3a36847f80a6389', 'de...",8767
25974,"[{'cast_id': 2, 'character': 'The Man', 'credi...","[{'credit_id': '52fe4655c3a36847f80f96bf', 'de...",43629
25975,[],"[{'credit_id': '52fe4d119251416c7512ed39', 'de...",187156
26638,"[{'cast_id': 1, 'character': 'Gerard Carriere'...","[{'credit_id': '52fe47bfc3a368484e0d77bf', 'de...",69234
28873,"[{'cast_id': 3, 'character': 'Nana', 'credit_i...","[{'credit_id': '550706449251412c050049d2', 'de...",168538
29387,"[{'cast_id': 4, 'character': 'King Lear', 'cre...","[{'credit_id': '52fe4606c3a36847f80e7e77', 'de...",42495
30013,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '56365ed9925141285701b06e', 'de...",132641
33755,"[{'cast_id': 4, 'character': 'Zak Gibbs', 'cre...","[{'credit_id': '54afed0cc3a3683fba00443d', 'de...",15028
33838,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760a9', 'de...",4912
35809,"[{'cast_id': 12, 'character': 'Narrator', 'cre...","[{'credit_id': '52fe4c229251416c910f10d5', 'de...",159849
38882,"[{'cast_id': 1004, 'character': 'Luke Oarum', ...","[{'credit_id': '52fe4a269251416c750df61d', 'de...",99080
40051,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5739ceeac3a3683c9d000c12', 'de...",298721
40287,"[{'cast_id': 1001, 'character': 'Max.', 'credi...","[{'credit_id': '55140dfa92514103e9002d99', 'de...",97995
44831,"[{'cast_id': 1, 'character': 'Ash Ketchum', 'c...","[{'credit_id': '52fe43de9251416c750213ff', 'de...",10991
44836,"[{'cast_id': 1, 'character': 'Ash Ketchum (voi...","[{'credit_id': '52fe45049251416c75048e35', 'de...",12600
45275,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...",265189

In [24]:
# dropping the duplicates from credits df with respect to 'id' column

credits.drop_duplicates(subset='id',inplace=True)

In [25]:
credits.shape

(45432, 3)

In [26]:
# Displaying shape of all DFs after removing duplicates.

print(movies.shape)
print(keywords.shape)
print(credits.shape)

(45436, 24)
(45432, 2)
(45432, 3)

In [27]:
# The number of unique values of 'id' in each DF matches with the shape

print(movies['id'].nunique())
print(keywords['id'].nunique())
print(credits['id'].nunique())

45436
45432
45432

In [28]:
print(movies.isnull().sum()/len(movies)*100)

adult                     0.000000
belongs_to_collection    90.115767
budget                    0.000000
genres                    0.000000
homepage                 82.883617
id                        0.000000
imdb_id                   0.037415
original_language         0.024210
original_title            0.000000
overview                  2.099657
popularity                0.011004
poster_path               0.849547
production_companies      0.006603
production_countries      0.006603
release_date              0.191478
revenue                   0.013205
runtime                   0.578836
spoken_languages          0.013205
status                    0.191478
tagline                  55.099481
title                     0.013205
video                     0.013205
vote_average              0.013205
vote_count                0.013205
dtype: float64

In [29]:
print(keywords.isnull().sum()/len(keywords)*100)

id          0.0
keywords    0.0
dtype: float64

In [30]:
print(credits.isnull().sum()/len(credits)*100)

cast    0.0
crew    0.0
id      0.0
dtype: float64

In [31]:
#There are 3 date values in movies['id'] which has to be removed to convert the column into integer datatype

import re
pattern = r'\W'

for i in movies['id']:
    if len(re.findall(pattern,i))>0:
        print(i,movies[movies['id']==i].index)

1997-08-20 Int64Index([19730], dtype='int64')
2012-09-29 Int64Index([29503], dtype='int64')
2014-01-01 Int64Index([35587], dtype='int64')

In [32]:
# Removing the records with date value as movie['id']

movies.drop(labels = [19730,29503,35587],axis = 0, inplace = True)

In [33]:
# Converting movies['id'] to numeric field
movies['id']= pd.to_numeric(movies['id'])

In [34]:
#Resetting the index of all DFs.
movies = movies.reset_index(drop=True)
keywords = keywords.reset_index(drop=True)
credits = credits.reset_index(drop=True)

In [35]:
print(movies['id'].nunique())
print(keywords['id'].nunique())
print(credits['id'].nunique())

45433
45432
45432

In [36]:
# merging all 3 dataframe using inner join to get equal unique values in 'id' field

movies = movies.merge(keywords,on = 'id',how = 'inner').merge(credits, on = 'id',how = 'inner')

In [37]:
print(movies['id'].nunique())

45432

In [38]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'keywords', 'cast', 'crew'],
      dtype='object')

In [39]:
# Displays general information about the movies DF like the data types of the fields, non-null counts, etc.

movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45432 entries, 0 to 45431
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45432 non-null  object
 1   belongs_to_collection  4488 non-null   object
 2   budget                 45432 non-null  object
 3   genres                 45432 non-null  object
 4   homepage               7774 non-null   object
 5   id                     45432 non-null  int64
 6   imdb_id                45415 non-null  object
 7   original_language      45421 non-null  object
 8   original_title         45432 non-null  object
 9   overview               44478 non-null  object
 10  popularity             45429 non-null  object
 11  poster_path            45046 non-null  object
 12  production_companies   45429 non-null  object
 13  production_countries   45429 non-null  object
 14  release_date           45345 non-null  object
 15  revenue                45429 non-null  float64
 16  runtime                45172 non-null  float64
 17  spoken_languages       45429 non-null  object
 18  status                 45348 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45429 non-null  object
 21  video                  45429 non-null  object
 22  vote_average           45429 non-null  float64
 23  vote_count             45429 non-null  float64
 24  keywords               45432 non-null  object
 25  cast                   45432 non-null  object
 26  crew                   45432 non-null  object
dtypes: float64(4), int64(1), object(22)
memory usage: 9.7+ MB

In [40]:
# checking for null values in the DF
movies.isnull().sum()

adult                        0
belongs_to_collection    40944
budget                       0
genres                       0
homepage                 37658
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25031
title                        3
video                        3
vote_average                 3
vote_count                   3
keywords                     0
cast                         0
crew                         0
dtype: int64

In [41]:
movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [42]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'keywords', 'cast', 'crew'],
      dtype='object')

In [43]:
# checking for columns with relevant information that can be used in the recommender system.  
movies['original_language'].value_counts(normalize=True)

en    0.710046
fr    0.053632
it    0.033663
ja    0.029656
de    0.023756
        ...
ay    0.000022
rw    0.000022
cy    0.000022
tg    0.000022
si    0.000022
Name: original_language, Length: 89, dtype: float64

In [44]:
# Significant Variables to build recommendation system
# 'genres','keywords', 'overview', 'title', 'id', 'cast', 'crew'

In [45]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'keywords', 'cast', 'crew'],
      dtype='object')

In [46]:
# Keeping only the significant fields to build the recommendation system

movies = movies[['genres','id','overview','title','original_title','keywords', 'cast', 'crew']]

In [47]:
movies.head()

,genres,id,overview,title,original_title,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,When siblings Judy and Peter discover an encha...,Jumanji,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [48]:
# Renaming the field 'id' to 'movie_id'

movies.rename(columns={'id':'movie_id'},inplace=True)

In [49]:
movies.head()

,genres,movie_id,overview,title,original_title,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,When siblings Judy and Peter discover an encha...,Jumanji,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [50]:
movies['movie_id'].nunique()

45432

In [51]:
movies['title'].nunique()

42276

In [52]:
movies['original_title'].nunique()

43370

In [53]:
#checking for any duplicate titles in the DF

movies[movies['title'].duplicated()]

,genres,movie_id,overview,title,original_title,keywords,cast,crew
888,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6620,Linus and David Larrabee are the two sons of a...,Sabrina,Sabrina,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 5, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe445fc3a36847f8091fb3', 'de..."
930,"[{'id': 18, 'name': 'Drama'}]",85638,"In Puritan Boston, seamstress Hester Prynne is...",The Scarlet Letter,The Scarlet Letter,"[{'id': 154802, 'name': 'silent film'}]","[{'cast_id': 3, 'character': 'Hester Prynne', ...","[{'credit_id': '52fe49509251416c910a9689', 'de..."
1296,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",11349,Sam Bowden witnesses a rape committed by Max C...,Cape Fear,Cape Fear,"[{'id': 351, 'name': 'poison'}, {'id': 1415, '...","[{'cast_id': 1, 'character': 'Sam Bowden', 'cr...","[{'credit_id': '52fe442b9251416c7502b3f9', 'de..."
1643,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",9922,"In 2013 there are no highways, no I-ways, no d...",The Postman,The Postman,"[{'id': 279, 'name': 'usa'}, {'id': 3804, 'nam...","[{'cast_id': 12, 'character': 'The Postman', '...","[{'credit_id': '52fe454ac3a36847f80c5ceb', 'de..."
1831,"[{'id': 18, 'name': 'Drama'}]",23383,"Winner of four Academy Awards, including Best ...",Hamlet,Hamlet,"[{'id': 497, 'name': 'shakespeare'}, {'id': 21...","[{'cast_id': 2, 'character': 'Hamlet - Prince ...","[{'credit_id': '52fe4467c3a368484e0212a3', 'de..."
...,...,...,...,...,...,...,...,...
45387,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",52103,Little pocket thief Wu never got away from the...,Pickpocket,Xiao Wu,"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 3, 'character': 'Xiao Wu', 'credi...","[{'credit_id': '52fe4819c3a36847f8157c9f', 'de..."
45419,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,The bliss of a biology teacher’s family life i...,Mom,Maa,"[{'id': 155794, 'name': 'physical abuse'}, {'i...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
45420,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346,The Morning After is a feature film that consi...,The Morning After,The Morning After,[],"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de..."
45426,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,"Yet another version of the classic epic, with ...",Robin Hood,Robin Hood,[],"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de..."
45429,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,"When one of her hits goes wrong, a professiona...",Betrayal,Betrayal,[],"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."

In [54]:
# Dropping the duplicate titles from the movies DF

movies.drop_duplicates(subset='title',inplace = True)

In [55]:
movies.shape

(42277, 8)

In [56]:
movies[movies['title'].duplicated()]

Empty DataFrame
Columns: [genres, movie_id, overview, title, original_title, keywords, cast, crew]
Index: []

In [57]:
#checking for any duplicate titles in 'original_title' field of the movies DF

movies[movies['original_title'].duplicated()]

,genres,movie_id,overview,title,original_title,keywords,cast,crew
2532,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",3035,Henry Frankenstein is a doctor who is trying t...,Frankenstein,Frankenstein,"[{'id': 657, 'name': 'fire'}, {'id': 1299, 'na...","[{'cast_id': 15, 'character': 'Dr. Henry Frank...","[{'credit_id': '52fe437fc3a36847f80587df', 'de..."
5028,"[{'id': 27, 'name': 'Horror'}]",21380,A tough female reporter and her cameraman boyf...,Hell of the Living Dead,Virus,"[{'id': 7321, 'name': 'nuclear power plant'}, ...","[{'cast_id': 1000, 'character': 'Lia Rousseau'...","[{'credit_id': '52fe4417c3a368484e00edb7', 'de..."
5452,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",33506,"A group of childhood friends, now in their thi...",Indian Summer,Indian Summer,"[{'id': 1890, 'name': 'camping'}, {'id': 10183...","[{'cast_id': 2, 'character': 'Jack Belston', '...","[{'credit_id': '52fe451f9251416c91028327', 'de..."
7934,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",43443,"In the Fifteenth Century, France is a defeated...",Joan of Arc,Joan of Arc,"[{'id': 254, 'name': 'france'}, {'id': 11038, ...","[{'cast_id': 2, 'character': 'Joan of Arc', 'c...","[{'credit_id': '56cc0020c3a36865e10017b0', 'de..."
8593,"[{'id': 27, 'name': 'Horror'}]",59802,On a strange island inhabited by demons and sp...,Incubus,Incubus,"[{'id': 2041, 'name': 'island'}, {'id': 15001,...","[{'cast_id': 1, 'character': 'Marc', 'credit_i...","[{'credit_id': '5463885e0e0a26780d002611', 'de..."
9156,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2487,Yuki's family is nearly wiped out before she i...,Lady Snowblood,修羅雪姫,"[{'id': 233, 'name': 'japan'}, {'id': 9748, 'n...","[{'cast_id': 1, 'character': 'Yuki Kashima', '...","[{'credit_id': '52fe435ac3a36847f804df17', 'de..."
9814,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11196,Two bumbling scrap metal thieves - father and ...,Stealing Rembrandt,Rembrandt,"[{'id': 494, 'name': 'father son relationship'...","[{'cast_id': 1, 'character': 'Mick', 'credit_i...","[{'credit_id': '52fe440d9251416c75027511', 'de..."
12236,"[{'id': 99, 'name': 'Documentary'}]",34424,"""Party Monster: The Shockumentary"" tells the s...",Party Monster: The Shockumentary,Party Monster,"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 3, 'character': 'Himself', 'credi...","[{'credit_id': '52fe45649251416c9103096b', 'de..."
14004,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",66949,NaN,Molière,Molière,"[{'id': 5565, 'name': 'biography'}, {'id': 163...","[{'cast_id': 2, 'character': 'Jean-Baptiste Po...","[{'credit_id': '52fe4751c3a368484e0c06d3', 'de..."
15101,"[{'id': 18, 'name': 'Drama'}]",17960,Three sisters share a connection to a violent ...,Hell,L'Enfer,[],"[{'cast_id': 1, 'character': 'Sophie', 'credit...","[{'credit_id': '52fe47569251416c75095b65', 'de..."
16498,"[{'id': 99, 'name': 'Documentary'}]",57448,A documentary on the relationship between fash...,L'amour fou,L'amour fou,"[{'id': 15479, 'name': 'fashion'}]","[{'cast_id': 1000, 'character': 'Himself / Int...","[{'credit_id': '52fe4935c3a36847f818ecbb', 'de..."
17234,"[{'id': 18, 'name': 'Drama'}]",79072,Five former high school friends reunite for an...,Falling,Fallen,"[{'id': 187056, 'name': 'woman director'}]","[{'cast_id': 1002, 'character': 'Nina', 'credi...","[{'credit_id': '56ff9f3d92514106c6000600', 'de..."
17628,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",62385,Yoshiyama Kazuko is in the 3rd grade of junior...,The Little Girl Who Conquered Time,時をかける少女,[],"[{'cast_id': 1, 'character': 'Kazuko Yoshiyama...","[{'credit_id': '53ebab100e0a267389000547', 'de..."
19021,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",49830,Seven misfits are trapped by a flesh eating sl...,Bio Slime,Contagion,[],"[{'cast_id': 3, 'character': 'Troy', 'credit_i...","[{'credit_id': '52fe47aac3a36847f81419f7', 'de..."
20017,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",96648,A group of cooks at an asylum for the criminal...,Asylum Blackout,The Incident,[],"[{'cast_id': 1001, 'character': 'Max', 'credit...","[{'credit_id': '567e8e959251411334001533', 'de..."
20238,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 80,...",31046,Jesse Stone is a former L.A. homicide detectiv...,Jesse Stone: Stone Cold,Stone Cold,"[{'id': 8015, 'name': 'cop'}, {'id': 41393, 'n...","[{'cast_id': 1, 'character': 'Chief Jesse Ston...","[{'credit_id': '59848829925141438700726f', 'de..."
20399,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",33786,An overweight teenager girl struggles to be so...,Starring Maja,Prinsessa,"[{'id': 187056, 'name': 'woman director'}]","[{'cast_id': 3, 'character': 'Maja', 'credit_i...","[{'credit_id': '52fe45379251416c9102b395', 'de..."
21179,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",109099,The rivalry between the manipulative boss of a...,Passion,Passion,"[{'id': 1566, 'name': 'dream'}, {'id': 1936, '...","[{'cast_id': 4, 'character': 'Christine Stanfo...","[{'credit_id': '52fe4aaac3a36847f81db5c1', 'de..."
23197,"[{'id': 9648, 'name': 'Mystery'}, {'id': 10749...",161297,A charming and very daring thief known as Arse...,Arsène Lupin,Arsène Lupin,"[{'id': 2978, 'name': 'mona lisa'}, {'id': 972...","[{'cast_id': 2, 'character': 'Duke of Charmera...","[{'credit_id': '54082c3ac3a3685818000d1a', 'de..."
24805,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",40644,This 26th film installment of the Zatoichi ser...,Zatôichi: The Blind Swordsman,座頭市,"[{'id': 1462, 'name': 'samurai'}, {'id': 10491...","[{'cast_id': 1, 'character': 'Zatoichi', 'cred...","[{'credit_id': '52fe459cc3a36847f80d0b63', 'de..."
26458,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",66812,"A government official, Count Muffat, falls und...",Nana,Nana,[],"[{'cast_id': 2, 'character': 'Nana', 'credit_i...","[{'credit_id': '52fe474cc3a368484e0bf24b', 'de..."
26489,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",52011,A group of assassins come together for a suici...,The Thirteen Assassins,十三人の刺客,[],"[{'cast_id': 1002, 'character': 'Shinzaemon Sh...","[{'credit_id': '52fe4812c3a36847f8156e81', 'de..."
27081,"[{'id': 99, 'name': 'Documentary'}]",40874,Just for Kicks is a 2005 documentary film abou...,Just for Kicks,Just for Kicks,[],[],"[{'credit_id': '52fe45a8c3a36847f80d34b7', 'de..."
27635,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 18,...",321130,Kris Kelvin joins the space station orbiting t...,Solyaris,Солярис,"[{'id': 818, 'name': 'based on novel'}]","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '558976bdc3a3680545003c7a', 'de..."
27664,"[{'id': 10749, 'name': 'Romance'}, {'id': 878,...",133764,Lucas is a scientist who works near the Europe...,Vanishing Waves,Aurora,"[{'id': 1706, 'name': 'experiment'}, {'id': 18...","[{'cast_id': 2, 'character': 'Aurora', 'credit...","[{'credit_id': '52fe4bbbc3a368484e19708b', 'de..."
27690,"[{'id': 18, 'name': 'Drama'}]",72985,Lola Sepa's grandson has been killed by a cell...,Grandmother,Lola,[],"[{'cast_id': 3, 'character': 'Lola Sepa', 'cre...","[{'credit_id': '52fe4887c3a368484e0fd75b', 'de..."
28250,"[{'id': 53, 'name': 'Thriller'}, {'id': 36, 'n...",152635,NaN,The Assassination,L'Attentat,"[{'id': 9937, 'name': 'suspense'}]","[{'cast_id': 2, 'character': 'François Darien ...","[{'credit_id': '52fe4b279251416c910d1a7d', 'de..."
29323,"[{'id': 12, 'name': 'Adventure'}]",54770,Akari Yoshiyama is graduating high school soon...,Time Traveller: The Girl Who Leapt Through Time,時をかける少女,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 1003, 'character': 'Akari Yoshiya...","[{'credit_id': '52fe48adc3a36847f8173e11', 'de..."
29678,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",53019,Den lunefulde og overforkælede prinsesse af Il...,Der var engang,Der var engang,[],"[{'cast_id': 2, 'character': 'Kasper Røghat', ...","[{'credit_id': '52fe484ec3a36847f8160c7b', 'de..."
31288,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",270771,"In the near future, society collapses and wate...",The Last Survivors,The Well,"[{'id': 4458, 'name': 'post-apocalyptic'}, {'i...","[{'cast_id': 2, 'character': 'Kendal', 'credit...","[{'credit_id': '55269a77925141118a002775', 'de..."
31424,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",172785,"Lizzie's best friend, Andie, becomes pregnant ...",Expecting,Gus,"[{'id': 1009, 'name': 'baby'}, {'id': 5905, 'n...","[{'cast_id': 8, 'character': 'Lizzie', 'credit...","[{'credit_id': '52fe4d26c3a36847f825163b', 'de..."
31706,"[{'id': 27, 'name': 'Horror'}]",45511,Psychopath Debbie Strand escapes from a mental...,Devil In The Flesh 2,Teacher's Pet,"[{'id': 293, 'name': 'female nudity'}, {'id': ...","[{'cast_id': 11, 'character': 'Debbie Strand',...","[{'credit_id': '52fe46c6c3a36847f811176d', 'de..."
32443,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",17935,"Set in the 16th century, this is a story about...",Iron & Blood: The Legend of Taras Bulba,Taras Bulba,"[{'id': 494, 'name': 'father son relationship'...","[{'cast_id': 1, 'character': 'Panna Elzhbeta',...","[{'credit_id': '5373ed3dc3a3681520001a7d', 'de..."
32531,"[{'id': 18, 'name': 'Drama'}]",190213,Allegedly based on a true incident reported on...,Cry of the Wounded,Aakrosh,[],"[{'cast_id': 1, 'character': 'Bhaskar Kulkarni...","[{'credit_id': '52fe4c5a9251416c910f25a3', 'de..."
34048,"[{'id': 18, 'name': 'Drama'}]",287636,A look at the trials and tribulations of The C...,The Sound And The Fury,The Sound and the Fury,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': 'Benjy Compson', ...","[{'credit_id': '53f39349c3a36822f2000081', 'de..."
37195,"[{'id': 10751, 'name': 'Family'}]",799,Pünktchen und Anton is the 1999 German film ba...,Annaluise & Anton,Pünktchen und Anton,"[{'id': 970, 'name': 'parent child relationshi...","[{'cast_id': 19, 'character': 'Annaluise/Pünkt...","[{'credit_id': '52fe4278c3a36847f80211f3', 'de..."
37714,"[{'id': 27, 'name': 'Horror'}]",48613,A group of five or six or seven friends go ski...,The Devil's Veil,La maschera del demonio,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 2, 'character': 'Davide', 'credit...","[{'credit_id': '58a23ada9251413999000187', 'de..."
37928,"[{'id': 10751, 'name': 'Family'}, {'id': 10769...",102909,Billy is a boy who is trying to save a baby ka...,Joey,Joey,[],"[{'cast_id': 3, 'character': 'Penny McGregor',...","[{'credit_id': '52fe4a13c3a36847f81b7a37', 'de..."
37943,"[{'id': 99, 'name': 'Documentary'}]",308063,“This film documents an event that has never t...,The Visit: An Alien Encounter,The Visit,[],[],"[{'credit_id': '572926b49251414863000015', 'de..."
39001,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",41149,"Shakespeare's classic tragedy of ambition, wit...",A Performance of Macbeth,Macbeth,[],"[{'cast_id': 1, 'character': 'Lady Macbeth', '...","[{'credit_id': '52fe45b7c3a36847f80d674b', 'de..."
39244,"[{'id': 10769, 'name': 'Foreign'}, {'id': 18, ...",48502,After retiring to the beautiful Mexican town o...,El Estudiante,El Estudiante,[],"[{'cast_id': 6, 'character': 'Chano', 'credit_...","[{'credit_id': '52fe4768c3a36847f8133f3f', 'de..."
39397,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",108063,This conventional post-nuclear holocaust drama...,Atomic War Bride,Rat,"[{'id': 1815, 'name': 'atomic bomb'}, {'id': 6...","[{'cast_id': 3, 'character': 'John Johnson', '...","[{'credit_id': '55461558c3a3680cd900664f', 'de..."
39508,"[{'id': 36, 'name': 'History'}, {'id': 10752, ...",314837,"In July 1945, during the end of World War II, ...",The Emperor in August,日本のいちばん長い日,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 2, 'character': 'General Korechik...","[{'credit_id': '54a32ec09251411860002c0e', 'de..."
39859,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",57733,The Ancient Romans believed that the soul esca...,Respire,Respire,"[{'id': 9937, 'name': 'suspense'}]","[{'cast_id': 1002, 'character': 'Susan Jordan'...","[{'credit_id': '52fe4942c3a36847f819142b', 'de..."
40233,[],172259,When the police start a crackdown on Yakuza ac...,Midnight Man,Midnight Man,[],"[{'cast_id': 2, 'character': 'John Kang', 'cre...","[{'credit_id': '52fe4d1dc3a36847f824f3d7', 'de..."
41377,"[{'id': 53, 'name': 'Thriller'}]",395763,The sudden disappearance of a wealthy banker's...,In the Shadow of Iris,Iris,[],"[{'cast_id': 1, 'character': 'Max Lopez', 'cre...","[{'credit_id': '59184028c3a3683a9304127d', 'de..."
41642,"[{'id': 18, 'name': 'Drama'}]",115903,The plot follows the misadventures of two youn...,Colegas,Colegas,"[{'id': 6054, 'name': 'friendship'}, {'id': 14...","[{'cast_id': 9, 'character': 'Antonio', 'credi...","[{'credit_id': '52fe4b7fc3a36847f82066ef', 'de..."
41698,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",377275,"Victoria Spick, a criminal lawyer who is singl...",In Bed with Victoria,Victoria,"[{'id': 13027, 'name': 'wedding'}, {'id': 1870...","[{'cast_id': 7, 'character': 'Victoria', 'cred...","[{'credit_id': '572da8be9251412c2400005b', 'de..."
41825,"[{'id': 28, 'name': 'Action'}, {'id': 36, 'nam...",167449,"During the Manchurian-ruled Qing Dynasty, Empe...",The Guillotines,Xue di zi,[],"[{'cast_id': 7, 'character': 'Guaerjia Musen',...","[{'credit_id': '52fe4cb1c3a36847f823aab3', 'de..."
42040,"[{'id': 14, 'name': 'Fantasy'}]",4652,NaN,The Golden Goose,Die goldene Gans,"[{'id': 2851, 'name': 'avarice'}, {'id': 15562...","[{'cast_id': 8, 'character': 'Klaus', 'credit_...","[{'credit_id': '52fe43d1c3a36847f8071f97', 'de..."
42172,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",73043,"Japan, 250 years ago. Soetsu is a moneylender ...",Kaidan,怪談,"[{'id': 1462, 'name': 'samurai'}]","[{'cast_id': 2, 'character': 'Orui', 'credit_i...","[{'credit_id': '52fe4889c3a368484e0fdd5f', 'de..."
42316,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",22154,A break-in and murder at a New York City museu...,Stan Lee Presents: Mosiac,Mosaic,"[{'id': 4289, 'name': 'secret agent'}, {'id': ...","[{'cast_id': 1, 'character': 'Maggie Nelson', ...","[{'credit_id': '52fe4436c3a368484e015ead', 'de..."
43136,"[{'id': 18, 'name': 'Drama'}]",125313,Set on the Russian steppes and filmed in black...,The Outskirts,Окраина,"[{'id': 8528, 'name': 'ostern'}, {'id': 10123,...","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4ac2c3a368484e165683', 'de..."
44775,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",49559,"Sylvie, a scientist aged 30, has to dig deeper...",Secret Defense,Secret Défense,[],"[{'cast_id': 2, 'character': 'Sylvie', 'credit...","[{'credit_id': '53d8ea6b0e0a261c7e00253c', 'de..."
44885,[],187602,"A man sick of his life, decides to leave his w...",Once More,Encore,[],"[{'cast_id': 3, 'character': 'Louis', 'credit_...","[{'credit_id': '544a4df5c3a3680fc300395c', 'de..."
45008,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",32593,"Snow White's mother dies during childbirth, le...",Snow White: The Fairest of Them All,Snow White,"[{'id': 46951, 'name': 'mirror'}, {'id': 16934...","[{'cast_id': 1, 'character': 'Queen Elspeth', ...","[{'credit_id': '52fe44dc9251416c9101f469', 'de..."
45113,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",63449,In a romantic and philosophical tale of magic ...,Ordinary Wonder,Обыкновенное чудо,[],"[{'cast_id': 44, 'character': 'хозяин', 'credi...","[{'credit_id': '52fe46aac3a368484e09d405', 'de..."

In [58]:
#Dropping the duplicates with respect to 'original_title' field of the movies DF

movies.drop_duplicates(subset='original_title',inplace = True)

In [59]:
movies.shape

(42220, 8)

In [60]:
#checking for null values

movies.isnull().sum()

genres              0
movie_id            0
overview          912
title               1
original_title      0
keywords            0
cast                0
crew                0
dtype: int64

In [61]:
#There is one null value in the 'title' field
movies[movies['title'].isnull()]

,genres,movie_id,overview,title,original_title,keywords,cast,crew
19721,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",82663,British soldiers force a recently captured IRA...,NaN,Midnight Man,"[{'id': 1568, 'name': 'undercover'}, {'id': 13...","[{'cast_id': 12, 'character': 'Sean Dillon', '...","[{'credit_id': '52fe48659251416c9108b001', 'de..."

In [62]:
# Assigning the value of 'original_title' field to 'title' field to fill the null value.
movies['title'][19721] = movies['original_title'][19721]

In [63]:
movies[movies['title']=='Midnight Man']

,genres,movie_id,overview,title,original_title,keywords,cast,crew
19721,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",82663,British soldiers force a recently captured IRA...,Midnight Man,Midnight Man,"[{'id': 1568, 'name': 'undercover'}, {'id': 13...","[{'cast_id': 12, 'character': 'Sean Dillon', '...","[{'credit_id': '52fe48659251416c9108b001', 'de..."

In [64]:
movies.isnull().sum()

genres              0
movie_id            0
overview          912
title               0
original_title      0
keywords            0
cast                0
crew                0
dtype: int64

In [65]:
movies.shape

(42220, 8)

In [66]:
movies['original_title'].nunique()

42220

In [67]:
movies['title'].nunique()

42220

In [68]:
# As there are equal number of unique values in 'title' and 'original_title' field, dropping 'original_title' 
# field from the movies DF
movies.drop('original_title', axis = 1, inplace = True)

In [69]:
movies.head(50)

,genres,movie_id,overview,title,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,When siblings Judy and Peter discover an encha...,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
5,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,"Obsessive master thief, Neil McCauley leads a ...",Heat,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
6,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860,An ugly duckling having undergone a remarkable...,Sabrina,"[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...","[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de..."
7,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325,"A mischievous young boy, Tom Sawyer, witnesses...",Tom and Huck,[],"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de..."
8,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091,International action superstar Jean Claude Van...,Sudden Death,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."
9,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,James Bond must unmask the mysterious head of ...,GoldenEye,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
10,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9087,"Widowed U.S. president Andrew Shepherd, one of...",The American President,"[{'id': 833, 'name': 'white house'}, {'id': 84...","[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de..."
11,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",12110,When a lawyer shows up at the vampire's doorst...,Dracula: Dead and Loving It,"[{'id': 3633, 'name': 'dracula'}, {'id': 11931...","[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de..."
12,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,An outcast half-wolf risks his life to prevent...,Balto,"[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...","[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de..."
13,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",10858,An all-star cast powers this epic look at Amer...,Nixon,"[{'id': 840, 'name': 'usa president'}, {'id': ...","[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de..."
14,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408,"Morgan Adams and her slave, William Shaw, are ...",Cutthroat Island,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de..."
15,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",524,The life of the gambling paradise – Las Vegas ...,Casino,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de..."
16,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4584,"Rich Mr. Dashwood dies, leaving his second wif...",Sense and Sensibility,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...","[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de..."
17,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,It's Ted the Bellhop's first night on the job....,Four Rooms,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...","[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de..."
18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,"Summoned from an ashram in Tibet, Ace finds hi...",Ace Ventura: When Nature Calls,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de..."
19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,A vengeful New York transit cop decides to ste...,Money Train,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de..."
20,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",8012,Chili Palmer is a Miami mobster who gets sent ...,Get Shorty,"[{'id': 395, 'name': 'gambling'}, {'id': 416, ...","[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de..."
21,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",1710,An agoraphobic psychologist and a female detec...,Copycat,"[{'id': 796, 'name': 'police brutality'}, {'id...","[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de..."
22,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9691,Assassin Robert Rath arrives at a funeral to k...,Assassins,"[{'id': 271, 'name': 'competition'}, {'id': 44...","[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de..."
23,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",12665,Harassed by classmates who won't accept his sh...,Powder,"[{'id': 7345, 'name': 'dead animal'}, {'id': 1...","[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de..."
24,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",451,"Ben Sanderson, an alcoholic Hollywood screenwr...",Leaving Las Vegas,"[{'id': 30, 'name': 'individual'}, {'id': 549,...","[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de..."
25,"[{'id': 18, 'name': 'Drama'}]",16420,The evil Iago pretends to be friend of Othello...,Othello,"[{'id': 497, 'name': 'shakespeare'}, {'id': 93...","[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de..."
26,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9263,Waxing nostalgic about the bittersweet passage...,Now and Then,"[{'id': 1228, 'name': '1970s'}, {'id': 5248, '...","[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de..."
27,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",17015,This film adaptation of Jane Austen's last nov...,Persuasion,"[{'id': 1316, 'name': 'captain'}, {'id': 33384...","[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de..."
28,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",902,A scientist in a surrealist society kidnaps ch...,The City of Lost Children,"[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...","[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de..."
29,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",37557,A provincial boy related to a Shanghai crime f...,Shanghai Triad,"[{'id': 964, 'name': 'servant'}, {'id': 2311, ...","[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de..."
30,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",9909,Former Marine Louanne Johnson lands a gig teac...,Dangerous Minds,"[{'id': 897, 'name': 'rap music'}, {'id': 3436...","[{'cast_id': 13, 'character': 'Louanne Johnson...","[{'credit_id': '52fe4546c3a36847f80c4e4b', 'de..."
31,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,"In the year 2035, convict James Cole reluctant...",Twelve Monkeys,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de..."
32,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",78802,NaN,Wings of Courage,[],"[{'cast_id': 2, 'character': 'Henri Guillaumet...","[{'credit_id': '52fe49b4c3a368484e13a259', 'de..."
33,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,Babe is a little pig who doesn't quite know hi...,Babe,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de..."
34,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",47018,The story of the relationship between painter ...,Carrington,"[{'id': 392, 'name': 'england'}, {'id': 437, '...","[{'cast_id': 1, 'character': 'Dora Carrington'...","[{'credit_id': '58594c1ac3a3682fb807e4cf', 'de..."
35,"[{'id': 18, 'name': 'Drama'}]",687,A justice drama based on a true story about a ...,Dead Man Walking,"[{'id': 378, 'name': 'prison'}, {'id': 570, 'n...","[{'cast_id': 7, 'character': 'Sister Helen Pre...","[{'credit_id': '52fe426ac3a36847f801cf35', 'de..."
36,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",139405,"A young Russian boy, Thomas Minton, travels to...",Across the Sea of Time,[],"[{'cast_id': 12, 'character': 'Tomas Minton', ...","[{'credit_id': '5554ba2c9251416ddf002acb', 'de..."
37,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",33689,Identical 9-year-olds from very different back...,It Takes Two,"[{'id': 13014, 'name': 'orphan'}, {'id': 20435...","[{'cast_id': 1, 'character': 'Diane Barrows', ...","[{'credit_id': '52fe45309251416c9102a49d', 'de..."
38,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9603,"Shallow, rich and socially successful Cher is ...",Clueless,"[{'id': 1525, 'name': 'puberty'}, {'id': 6270,...","[{'cast_id': 8, 'character': 'Cher Horowitz', ...","[{'credit_id': '52fe4510c3a36847f80ba261', 'de..."
39,"[{'id': 18, 'name': 'Drama'}]",34615,A South-African preacher goes to search for hi...,"Cry, the Beloved Country","[{'id': 3644, 'name': 'south africa'}]","[{'cast_id': 4, 'character': 'Rev. Stephen Kum...","[{'credit_id': '52fe456f9251416c91032375', 'de..."
40,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",31174,Shakespeare's Play transplanted into a 1930s s...,Richard III,"[{'id': 392, 'name': 'england'}, {'id': 497, '...","[{'cast_id': 1, 'character': 'Richard III', 'c...","[{'credit_id': '52fe44669251416c9100f5a3', 'de..."
41,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",11443,"Depicts a heist of old bills, retired from cir...",Dead Presidents,"[{'id': 10594, 'name': 'money'}, {'id': 11254,...","[{'cast_id': 1, 'character': 'Anthony Curtis',...","[{'credit_id': '52fe44409251416c7502e1d5', 'de..."
42,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",35196,"An aspiring young physician, Robert Merivel fo...",Restoration,"[{'id': 931, 'name': 'jealousy'}, {'id': 1279,...","[{'cast_id': 1, 'character': 'Robert Merivel',...","[{'credit_id': '52fe45999251416c91037fdf', 'de..."
43,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",9312,For nine generations an evil sorcerer has been...,Mortal Kombat,"[{'id': 779, 'name': 'martial arts'}, {'id': 1...","[{'cast_id': 1, 'character': 'Lord Rayden', 'c...","[{'credit_id': '52fe44e6c3a36847f80b0899', 'de..."
44,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",577,Susan wants to work in television and will the...,To Die For,"[{'id': 596, 'name': 'adultery'}, {'id': 1442,...","[{'cast_id': 4, 'character': 'Suzanne Stone Ma...","[{'credit_id': '52fe4255c3a36847f8015f49', 'de..."
45,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",11861,Soon-to-be-wed graduate student Finn Dodd deve...,How To Make An American Quilt,"[{'id': 1334, 'name': 'wedding vows'}, {'id': ...","[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...","[{'credit_id': '52fe44959251416c75039e1d', 'de..."
46,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",807,Two homicide detectives are on a desperate hun...,Se7en,"[{'id': 476, 'name': 'self-fulfilling prophecy...","[{'cast_id': 17, 'character': 'Detective David...","[{'credit_id': '52fe4279c3a36847f802176f', 'de..."
47,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",10530,History comes gloriously to life in Disney's e...,Pocahontas,"[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'cast_id': 1, 'character': 'Pocahontas (voic...","[{'credit_id': '52fe43819251416c75013087', 'de..."
48,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",8391,"A prudish woman, working on tenure as a litera...",When Night Is Falling,"[{'id': 1992, 'name': 'professor'}, {'id': 158...","[{'cast_id': 1, 'character': 'Camille Baker', ...","[{'credit_id': '52fe44a4c3a36847f80a1e53', 'de..."
49,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",629,"Held in an L.A. interrogation room, Verbal Kin...",The Usual Suspects,"[{'id': 3703, 'name': 'law'}, {'id': 5493, 'na...","[{'cast_id': 19, 'character': 'Michael McManus...","[{'credit_id': '52fe4260c3a36847f8019a7d', 'de..."

In [70]:
# Resetting the index of the DF
movies.reset_index(drop=True)

,genres,movie_id,overview,title,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,When siblings Judy and Peter discover an encha...,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...
42215,"[{'id': 878, 'name': 'Science Fiction'}]",222848,It's the year 3000 AD. The world's most danger...,Caged Heat 3000,[],"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de..."
42216,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,Rising and falling between a man and woman.,Subdue,"[{'id': 10703, 'name': 'tragic love'}]","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
42217,"[{'id': 18, 'name': 'Drama'}]",111109,An artist struggles to finish his work while a...,Century of Birthing,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
42218,[],227506,"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
42219,[],461257,50 years after decriminalisation of homosexual...,Queerama,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [71]:
movies.isnull().sum()

genres        0
movie_id      0
overview    912
title         0
keywords      0
cast          0
crew          0
dtype: int64

In [ ]:
# Not decied to drop the null values of 'overview' field as those records would still get significant 
# information from the other fileds.

In [72]:
movies['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [73]:
# There are few records in the DF with empty list [] as their values.
# Not decied to drop the records with [] as their value, as those records would still get significant 
# information from the other fileds.
movies[movies['genres']=='[]']

,genres,movie_id,overview,title,keywords,cast,crew
55,[],124057,"Set in modern times, Alex finds King Arthur's ...",Kids of the Round Table,[],"[{'cast_id': 1, 'character': 'Alex Cole', 'cre...","[{'credit_id': '57b42992c3a36875d50050d9', 'de..."
83,[],188588,"Filmed entirely on location in East Hampton, L...",Last Summer in the Hamptons,[],"[{'cast_id': 2, 'character': 'Oona Hart', 'cre...","[{'credit_id': '52fe4d3c9251416c7513477d', 'de..."
126,[],290157,"Michel Negroponte, a documentary filmmaker, me...",Jupiter's Wife,[],"[{'cast_id': 2, 'character': 'Herself', 'credi...","[{'credit_id': '5405dbddc3a368119c003c1e', 'de..."
137,[],124639,A subtle yet violent commentary on feudal lords.,Target,[],[],"[{'credit_id': '52fe4ab0c3a368484e161d3d', 'de..."
390,[],267188,Jackie and Eugene are joined by a mystical win...,Desert Winds,[],"[{'cast_id': 2, 'character': 'Eugene', 'credit...","[{'credit_id': '535e69b80e0a264fdb006416', 'de..."
...,...,...,...,...,...,...,...
45413,[],44324,The background of this picture represents a sc...,The Untameable Whiskers,[],"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de..."
45414,[],122036,This shows a prince entering upon the stage of...,The Imperceptable Transmutations,[],[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de..."
45421,[],67179,Sentenced to life imprisonment for illegal act...,St. Michael Had a Rooster,[],"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de..."
45430,[],227506,"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45431,[],461257,50 years after decriminalisation of homosexual...,Queerama,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [74]:
#Importing ast module fro extracting information

import ast

In [75]:
# 'genres' and 'keywords' field contain significant information in the 'name' key of the dictionaries.
# Creating a function to extract the info from 'name' key of the dict values in the 'genres' & 'keywords' field
def extract(dic):
    L = []
    for i in ast.literal_eval(dic):
        L.append(i["name"])
    return L

In [76]:
# Applying the created function in the 'genres' filed
movies['genres'] = movies['genres'].apply(extract)
movies.head()

,genres,movie_id,overview,title,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,When siblings Judy and Peter discover an encha...,Jumanji,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Romance, Comedy]",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[Comedy, Drama, Romance]",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,[Comedy],11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [77]:
movies['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [78]:
# Applying the created function in the 'keywords' filed
movies['keywords'] = movies['keywords'].apply(extract)
movies['keywords']

0        [jealousy, toy, boy, friendship, friends, riva...
1        [board game, disappearance, based on children'...
2        [fishing, best friend, duringcreditsstinger, o...
3        [based on novel, interracial relationship, sin...
4        [baby, midlife crisis, confidence, aging, daug...
                               ...
45425                                                   []
45427                                        [tragic love]
45428                                [artist, play, pinoy]
45430                                                   []
45431                                                   []
Name: keywords, Length: 42220, dtype: object

In [79]:
movies['keywords'][0]

['jealousy',
 'toy',
 'boy',
 'friendship',
 'friends',
 'rivalry',
 'boy next door',
 'new toy',
 'toy comes to life']

In [80]:
movies.head()

,genres,movie_id,overview,title,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,When siblings Judy and Peter discover an encha...,Jumanji,"[board game, disappearance, based on children'...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Romance, Comedy]",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[Comedy, Drama, Romance]",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[based on novel, interracial relationship, sin...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,[Comedy],11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [81]:
movies['cast'][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [82]:
# Creating a function to extract top 3 cast info from 'name' key of the dict values in the 'cast' field
def top3extract(word):
    L = []
    increment = 0
    for i in ast.literal_eval(word):
        if increment <3:
            L.append(i['name'])
            increment += 1
        else:
            break
    return L

In [83]:
# Applying the created function to 'cast' field
movies['cast'] = movies['cast'].apply(top3extract)

In [84]:
movies['cast'][45430]

['Iwan Mosschuchin', 'Nathalie Lissenko', 'Pavel Pavlov']

In [85]:
movies.tail()

,genres,movie_id,overview,title,keywords,cast,crew
45425,[Science Fiction],222848,It's the year 3000 AD. The world's most danger...,Caged Heat 3000,[],"[Lisa Boyle, Kena Land, Zaneta Polard]","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de..."
45427,"[Drama, Family]",439050,Rising and falling between a man and woman.,Subdue,[tragic love],"[Leila Hatami, Kourosh Tahami, Elham Korda]","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45428,[Drama],111109,An artist struggles to finish his work while a...,Century of Birthing,"[artist, play, pinoy]","[Angel Aquino, Perry Dizon, Hazel Orencio]","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45430,[],227506,"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45431,[],461257,50 years after decriminalisation of homosexual...,Queerama,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [86]:
movies['crew'].unique()

array(['[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'Desirée Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': 

In [87]:
# Creating a function to fetch the director name from 'name' key of the dict values in the 'crew' field
def get_director(word):
    L = []
    for i in ast.literal_eval(word):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [88]:
# Applying the created function to 'crew' field
movies['crew'] = movies['crew'].apply(get_director)
movies['crew']

0           [John Lasseter]
1            [Joe Johnston]
2           [Howard Deutch]
3         [Forest Whitaker]
4           [Charles Shyer]
                ...
45425       [Aaron Osborne]
45427    [Hamid Nematollah]
45428            [Lav Diaz]
45430    [Yakov Protazanov]
45431       [Daisy Asquith]
Name: crew, Length: 42220, dtype: object

In [89]:
movies['crew'][0]

['John Lasseter']

In [90]:
movies.isnull().sum()

genres        0
movie_id      0
overview    912
title         0
keywords      0
cast          0
crew          0
dtype: int64

In [91]:
movies.shape

(42220, 7)

In [92]:
movies.head()

,genres,movie_id,overview,title,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,"[Adventure, Fantasy, Family]",8844,When siblings Judy and Peter discover an encha...,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,"[Romance, Comedy]",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,"[Comedy, Drama, Romance]",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,[Comedy],11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [93]:
#Creating a function to remove space between the words to avoid creation of unnecessary tokens of the same words.
def removespace(X):
    L = []
    for i in X:
        L.append(i.replace(' ',''))
    return L

In [94]:
# Removing space between the extracted info from the respective fields of the DF 
movies['genres'] = movies['genres'].apply(removespace)
movies['keywords'] = movies['keywords'].apply(removespace) 
movies['cast'] = movies['cast'].apply(removespace) 
movies['crew'] = movies['crew'].apply(removespace)

In [95]:
movies.head()

,genres,movie_id,overview,title,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,"[Adventure, Fantasy, Family]",8844,When siblings Judy and Peter discover an encha...,Jumanji,"[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]
2,"[Romance, Comedy]",15602,A family wedding reignites the ancient feud be...,Grumpier Old Men,"[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch]
3,"[Comedy, Drama, Romance]",31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker]
4,[Comedy],11862,Just when George Banks has recovered from his ...,Father of the Bride Part II,"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer]

In [96]:
movies.tail()

,genres,movie_id,overview,title,keywords,cast,crew
45425,[ScienceFiction],222848,It's the year 3000 AD. The world's most danger...,Caged Heat 3000,[],"[LisaBoyle, KenaLand, ZanetaPolard]",[AaronOsborne]
45427,"[Drama, Family]",439050,Rising and falling between a man and woman.,Subdue,[tragiclove],"[LeilaHatami, KouroshTahami, ElhamKorda]",[HamidNematollah]
45428,[Drama],111109,An artist struggles to finish his work while a...,Century of Birthing,"[artist, play, pinoy]","[AngelAquino, PerryDizon, HazelOrencio]",[LavDiaz]
45430,[],227506,"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[IwanMosschuchin, NathalieLissenko, PavelPavlov]",[YakovProtazanov]
45431,[],461257,50 years after decriminalisation of homosexual...,Queerama,[],[],[DaisyAsquith]

In [97]:
movies['cast'][0]

['TomHanks', 'TimAllen', 'DonRickles']

In [98]:
movies['crew'][0]

['JohnLasseter']

In [99]:
movies['keywords'][0]

['jealousy',
 'toy',
 'boy',
 'friendship',
 'friends',
 'rivalry',
 'boynextdoor',
 'newtoy',
 'toycomestolife']

In [100]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42220 entries, 0 to 45431
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    42220 non-null  object
 1   movie_id  42220 non-null  int64
 2   overview  41308 non-null  object
 3   title     42220 non-null  object
 4   keywords  42220 non-null  object
 5   cast      42220 non-null  object
 6   crew      42220 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.6+ MB

In [101]:
# As there are few null values in the 'overview' filed, filling those records with [] empty values.
movies['overview'].fillna(' ',inplace = True)

In [102]:
# No null values in the DF
movies.isnull().sum()

genres      0
movie_id    0
overview    0
title       0
keywords    0
cast        0
crew        0
dtype: int64

In [103]:
# As 'overview' filed contains sentences as values, splitting the sentence to words using the split function
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [104]:
movies.head()

,genres,movie_id,overview,title,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,"[Led, by, Woody,, Andy's, toys, live, happily,...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,"[Adventure, Fantasy, Family]",8844,"[When, siblings, Judy, and, Peter, discover, a...",Jumanji,"[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]
2,"[Romance, Comedy]",15602,"[A, family, wedding, reignites, the, ancient, ...",Grumpier Old Men,"[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch]
3,"[Comedy, Drama, Romance]",31357,"[Cheated, on,, mistreated, and, stepped, on,, ...",Waiting to Exhale,"[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker]
4,[Comedy],11862,"[Just, when, George, Banks, has, recovered, fr...",Father of the Bride Part II,"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer]

In [105]:
# Combining the values of 'genres','overview','keywords','cast',and 'crew' filed by creating a 'context' field
movies['context'] = movies['genres']+movies['overview']+movies['keywords']+movies['cast']+movies['crew']

In [106]:
movies.head()

,genres,movie_id,overview,title,keywords,cast,crew,context
0,"[Animation, Comedy, Family]",862,"[Led, by, Woody,, Andy's, toys, live, happily,...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Animation, Comedy, Family, Led, by, Woody,, A..."
1,"[Adventure, Fantasy, Family]",8844,"[When, siblings, Judy, and, Peter, discover, a...",Jumanji,"[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[Adventure, Fantasy, Family, When, siblings, J..."
2,"[Romance, Comedy]",15602,"[A, family, wedding, reignites, the, ancient, ...",Grumpier Old Men,"[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch],"[Romance, Comedy, A, family, wedding, reignite..."
3,"[Comedy, Drama, Romance]",31357,"[Cheated, on,, mistreated, and, stepped, on,, ...",Waiting to Exhale,"[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker],"[Comedy, Drama, Romance, Cheated, on,, mistrea..."
4,[Comedy],11862,"[Just, when, George, Banks, has, recovered, fr...",Father of the Bride Part II,"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer],"[Comedy, Just, when, George, Banks, has, recov..."

In [107]:
# 'context' filed now contains the combined values of all the significant fileds to build the 
# recommendation system 
movies['context'][0]

['Animation',
 'Comedy',
 'Family',
 'Led',
 'by',
 'Woody,',
 "Andy's",
 'toys',
 'live',
 'happily',
 'in',
 'his',
 'room',
 'until',
 "Andy's",
 'birthday',
 'brings',
 'Buzz',
 'Lightyear',
 'onto',
 'the',
 'scene.',
 'Afraid',
 'of',
 'losing',
 'his',
 'place',
 'in',
 "Andy's",
 'heart,',
 'Woody',
 'plots',
 'against',
 'Buzz.',
 'But',
 'when',
 'circumstances',
 'separate',
 'Buzz',
 'and',
 'Woody',
 'from',
 'their',
 'owner,',
 'the',
 'duo',
 'eventually',
 'learns',
 'to',
 'put',
 'aside',
 'their',
 'differences.',
 'jealousy',
 'toy',
 'boy',
 'friendship',
 'friends',
 'rivalry',
 'boynextdoor',
 'newtoy',
 'toycomestolife',
 'TomHanks',
 'TimAllen',
 'DonRickles',
 'JohnLasseter']

In [108]:
movies.columns

Index(['genres', 'movie_id', 'overview', 'title', 'keywords', 'cast', 'crew',
       'context'],
      dtype='object')

In [109]:
# removing the fileds from movies DF and creating a new DF named 'final_movies'
final_movies = movies.drop(columns=['genres','overview','keywords','cast','crew'])

In [110]:
final_movies.head()

,movie_id,title,context
0,862,Toy Story,"[Animation, Comedy, Family, Led, by, Woody,, A..."
1,8844,Jumanji,"[Adventure, Fantasy, Family, When, siblings, J..."
2,15602,Grumpier Old Men,"[Romance, Comedy, A, family, wedding, reignite..."
3,31357,Waiting to Exhale,"[Comedy, Drama, Romance, Cheated, on,, mistrea..."
4,11862,Father of the Bride Part II,"[Comedy, Just, when, George, Banks, has, recov..."

In [111]:
final_movies.shape

(42220, 3)

In [112]:
# Joining all the words to form a single sentence using the 'Join' function in the 'context' field.
final_movies['context'] = final_movies['context'].apply(lambda x: " ".join(x))

In [113]:
final_movies['context'][0]

"Animation Comedy Family Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife TomHanks TimAllen DonRickles JohnLasseter"

In [114]:
final_movies.head()

,movie_id,title,context
0,862,Toy Story,"Animation Comedy Family Led by Woody, Andy's t..."
1,8844,Jumanji,Adventure Fantasy Family When siblings Judy an...
2,15602,Grumpier Old Men,Romance Comedy A family wedding reignites the ...
3,31357,Waiting to Exhale,"Comedy Drama Romance Cheated on, mistreated an..."
4,11862,Father of the Bride Part II,Comedy Just when George Banks has recovered fr...

## Bag of Words

In [115]:
# Impoting CountVectorizer to convert the text to tokens
from sklearn.feature_extraction.text import CountVectorizer
CV = CountVectorizer(max_features = 10000, stop_words='english')

In [116]:
vector = CV.fit_transform(final_movies['context']).toarray()

In [117]:
vector.shape

(42220, 10000)

In [118]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

## Similarity Matrix

In [119]:
# Calculation of cosine_similarity to build the similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
sim_matrix = cosine_similarity(vector)

In [120]:
sim_matrix

array([[1.        , 0.03646019, 0.04116935, ..., 0.        , 0.01429009,
        0.        ],
       [0.03646019, 1.        , 0.06642112, ..., 0.03883678, 0.03074014,
        0.03396178],
       [0.04116935, 0.06642112, 1.        , ..., 0.        , 0.01735525,
        0.        ],
       ...,
       [0.        , 0.03883678, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.01429009, 0.03074014, 0.01735525, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.03396178, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [121]:
final_movies.head()

,movie_id,title,context
0,862,Toy Story,"Animation Comedy Family Led by Woody, Andy's t..."
1,8844,Jumanji,Adventure Fantasy Family When siblings Judy an...
2,15602,Grumpier Old Men,Romance Comedy A family wedding reignites the ...
3,31357,Waiting to Exhale,"Comedy Drama Romance Cheated on, mistreated an..."
4,11862,Father of the Bride Part II,Comedy Just when George Banks has recovered fr...

## Building Recommendation System

In [123]:
final_movies[final_movies['title'] == 'Toy Story'].index[0]

0

In [124]:
# Creating a function to build the recommendation system using the similarity matrix
def recommendation(movie):
    index = final_movies[final_movies['title']== movie].index[0]
    dist = sorted(list(enumerate(sim_matrix[index])),reverse = True, key = lambda x: x[1])
    for i in dist[1:6]:
        print(final_movies.iloc[i[0]].title)

In [125]:
final_movies['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45425                Caged Heat 3000
45427                         Subdue
45428            Century of Birthing
45430               Satan Triumphant
45431                       Queerama
Name: title, Length: 42220, dtype: object

## Recommendation System

In [126]:
recommendation('Assassins')

Sharpshooter
A Colt Is My Passport
Fulltime Killer
Diary of a Hitman
The Outside Man

In [127]:
recommendation('Toy Story')

Toy Story 2
Toy Story 3
Small Fry
The 40 Year Old Virgin
Andy Kaufman Plays Carnegie Hall

In [128]:
recommendation('GoldenEye')

Licence to Kill
Die Another Day
Octopussy
Two Tigers
A View to a Kill

In [129]:
recommendation('Se7en')

Taking Lives
Zodiac
10 to Midnight
Kalifornia
Relentless

In [130]:
recommendation('Batman Forever')

Batman: Bad Blood
Batman & Robin
Batman: The Dark Knight Returns, Part 1
The Dark Knight Rises
Batman Beyond: Return of the Joker

In [131]:
recommendation('Waterworld')

The Boy and the Pirates
Blackbeard, the Pirate
The Last Airbender
Hero's Island
The New Adventures of the Elusive Avengers

## Pickling

In [132]:
import pickle
pickle.dump(final_movies, open('movie_list.pkl','wb'))
pickle.dump(sim_matrix, open('sim_matrix.pkl','wb'))